@import '../node_modules/antd/dist/antd.css'; 

body {
  margin: 0;
  background-color: #090B10	;
  font-family: Tahoma, sans-serif;
}
.Example input,
.Example button {
  font: inherit;
}
.Example header {
  background-color: #0F111A	;
  left: 0;
  width: 50px;
  position: fixed;
  height: 100%;
  padding: 0;
  color: white;
}
.Example header h1 {
  font-size: inherit;
  margin: 0;
}
.Example__container header {
  display: flex;
  flex-direction: column;
  align-items: right;
}
.Example__container__load header {
  margin-top: 1em;
  color: white;
}
.Example__container__document {
  margin: 1em 0;
}
.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Example__container__document .react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}
.Example__container__document .react-pdf__Page svg {
  max-width: 100%;
  height: auto !important;
}
.Example__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}
.darkify svg {
  background-color: #0F111A;
  stroke: #ffffff;
  fill: none
}
.Default {
  flex-direction: column;
  display:flex;
  justify-content:center;
  align-items:center;
  height: auto !important;
  padding-top: 18%
}
.Default__Title {
  color: #ffffff;
  font-family: Tahoma, sans-serif;
}

.Default__subTitle {
  color: #08c;
  font-family: Tahoma, sans-serif;
}

::-webkit-scrollbar {     
  background-color: #0F111A;
  width: .5em
}

::-webkit-scrollbar-thumb {
  background:  #08c
}

button { 
  background-color: #0F111A;
  border: none;
  width: 50px;
  padding: 0;
}

button:active {
  background-color: #0F111A;
  transform: translateY(1px);
}
